.letterBox {
    height: 48px;
    width: 48px;
    border: solid #888;
    border-width: 2px 2px;
    margin: 0px;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

/* styling TODO: add extra border for first and last letters */

/* TODO: move to another stylesheet? too much in one file */

.errorText {
    /* TODO: test color in light/dark mode, HC */
    color: red;
    padding: 0.5em;
}